extends base 

block content 
    .nav-container
        p
            span.active-color JobTracker
        ul.nav-menu
            li.btn.btn-nav.nav-item
                a.nav-link.logout(href="#") Log Out
            li.btn.btn-nav.nav-item.center-div
                a(href="#", class="nav__el")
                    if user.profilePhotoUrl
                        img.user-img(src=`${user.profilePhotoUrl}`, alt="User photo")
                    else
                        img.user-img(src="/img/default.jpg", alt="User photo")
                    |  &nbsp;
                span=user.firstName
        .hamburger
            span.bar
            span.bar
            span.bar
    #header
        h3 Account Settings
    hr
    section#content
        #user-account
            .user-menu
                .settings.account-div.active-btn-menu
                    a.de-link(href="#") SETTINGS
                .my-jobs.account-div
                    a.de-link(href="/overview") MY&nbsp;JOBS
                .my-interviews.account-div
                    a.de-link(href="interview") My&nbsp;INTERVIEWS
                .billing.account-div
                    a.de-link(href="#") Billing
                .log-out.account-div
                    a.de-link.logout(href="#") LOG OUT
                
                if (user.role === "admin")
                    div
                        h3.admin-h3 Admin
                        hr.width-80
                        .manage-users.account-div
                            a.de-link(href="#") Manage&nbsp;Users
                        .manage-jobs.account-div
                            a.de-link(href="#") Manage&nbsp;Jobs
                        .manage-billings.account-div
                            a.de-link(href="#") Manage&nbsp;Billings
            .user-view
                .account-settings
                    h2 Your account settings
                    form.form.form-user-data
                        .form-group
                            label(class="form__label", for="firstName") First Name
                            input#first-Name.form-input-account(type="text", value=`${user.firstName}`, required="required")
                        .form-group
                            label(class="form__label", for="lastName") Last Name
                            input#lastName.form-input-account(type="text", value=`${user.lastName}`, required="required")
                        .form-group
                            label(class="form__label", for="email") Email address
                            input#email.form-input-account(type="email", value=user.email, required="required")
                        .choose-photo
                            img.user-img(src="/img/default.jpg", alt="User photo")
                            .avatar
                                label(for="avatar") Choose profile picture
                                input#avatar(type="file", name="avatar", accept="image/*")
                        .save-div.save-settings
                            button.action-btn.save-user-info-btn Save settings
                hr
                .change-password.account-settings
                    h2(class="") Password change
                    form.form.form-user-settings.form-user-password
                        .form-group
                            label(class="form__label", for="password-current") Current password
                            input#password-current.form-input-account.password(type="password", placeholder="••••••••", required="required", minlength="8")
                        .form-group
                            label(class="form__label", for="new-password") New password
                            input#new-password.form-input-account.password(type="password", placeholder="••••••••", required="required", minlength="8")
                        .form-group
                            label(class="form__label", for="password-confirm") Confirm password
                            input#password-confirm.form-input-account.password(type="password", placeholder="••••••••", required="required", minlength="8")
                        .show-password-div
                            input.show-password(type="checkbox")
                            | &nbsp;Show password
                        .save-div
                            button.action-btn.save-user-password-btn Save password

        
