extends base 

block content
    .nav-container
        p
            span.active-color JobTracker
        ul.nav-menu
            li.btn.btn-nav.nav-item
                a.nav-link(href="/overview") My Jobs
            li.btn.btn-nav.nav-item.center-div
                a(href="/account", class="nav__el")
                    img.user-img(src="/img/default.jpg", alt="User photo")
                    | &nbsp;
                span=user.firstName
        .hamburger
            span.bar
            span.bar
            span.bar
    #header
        h3 My Interviews
        .search-div
            form#search-form
                label(for="search")
                    i.fa-solid.fa-magnifying-glass.search-glass
                | &nbsp;
                input#search(type="search", name="search", placeholder="Search your jobs", required="required")
    hr
    section#content
        each interview in interviews
            .card
                form.form.form-interview-data(data-id=`${interview.id}`)
                    .edit-icon.form-input-div
                        i.fa-regular.fa-pen-to-square.fa-lg.fa-icons.edit-interview
                    .type.form-input-div
                        span Type:
                        | &nbsp;
                        input#type.form-input.interview-type(type="text", name="type", required, value=interview.type, readonly)
                    .interviewers-name.form-input-div
                        span Interviewer&apos;s Name:
                        | &nbsp;
                        input#interviewers-name.form-input.select-interviewers-name(type="text", name="interviewers-name", required, value=interview.interviewer_name, readonly)
                    .date.form-input-div
                        span Date:
                        | &nbsp;
                        input#date.form-input.interview-date-input(type="text", name="date", required, value=`${DBDateTimeToReadableString(interview.interview_date)}`, readonly)
                    .address.form-input-div
                        span Address:
                        | &nbsp;
                        input#address.form-input.interview-address(type="text", name="address", required, value=interview.address, readonly)
                    .note.form-input-div
                        span Note:
                        | &nbsp;
                        textarea#note.form-input.interview-note(name="note", cols="25", rows="7", readonly)=interview.note
                    .result.form-input-div
                        span Result:
                        | &nbsp;
                        select#result.form-input.select-interview-result(name="result", required, disabled)
                            option()= interview.result
                    .rescheduleDate.form-input-div
                        span Rescheduled Date:
                        | &nbsp;
                        input#rescheduleDate.form-input.reschedule-date(name="rescheduleDate", value=`${DBDateTimeToReadableString(interview.rescheduled_date)}`, readonly)
                    .reschedule-reason.form-input-div
                        span Reschedule reason:
                        | &nbsp;
                        textarea#reschedule-reason.form-input.select-reschedule-reason(name="reschedule-reason", cols="25", rows="7", readonly)=interview.reschedule_reason
                    .deadline.form-input-div
                        span Deadline:
                        | &nbsp;
                        input#deadline.form-input.interview-deadline(type="text", name="deadline", value=`${DBDateTimeToReadableString(interview.deadline)}`, readonly)
                    .save-interview.center-div.display-none
                        .action-btn-two
                            span.save-interview-btn  Save 


