extends base 

block content 
    .nav-container
        p
            span.active-color JobTracker
        ul.nav-menu
            li.btn.btn-nav.nav-item
                a.nav-link(href="/add-job") Add Job
            li.btn.btn-nav.nav-item
                a.nav-link(href="/interview") My Interviews
            li.btn.btn-nav.nav-item.center-div
                a(href="#", class="nav__el")
                    img.user-img(src="/img/default.jpg", alt="User photo")
                    | &nbsp;
                span= user.firstName
        .hamburger
            span.bar
            span.bar
            span.bar
    #header
        h3 My Job Applications
        .search-div
            form#search-form
                label(for="search")
                    i.fa-solid.fa-magnifying-glass.search-glass
                | &nbsp;
                input#search(type="search", name="search", placeholder="Search your jobs", required="required")
    hr
    section#content
        each job in data
            .card-overview-job
                .title.line
                    h4 Title:
                    | &nbsp;
                    p=job.title
                .position.line
                    h4 Postition:
                    | &nbsp;
                    p=job.position
                .company.line
                    h4 Company:
                    | &nbsp;
                    p=job.company
                .location.line
                    h4 location:
                    | &nbsp;
                    p=job.location
                .status.line
                    h4 status:
                    | &nbsp;
                    p=job.status
                .details.action-btn-two
                    a.de-link(href=`/job/${job.id}`) Details